
<%- include("partials/header", {page: 'announcements'}) -%>
<div class="title-box">
    <h1 class="page-title">Announcements</h1>
</div>
<div class="announcements-box">
<!-- Load 6 announcements per page? -->
    <%- include("partials/announcement") %>

    <%- include("partials/announcement") %>

    <%- include("partials/announcement") %>

    <%- include("partials/announcement") %>

    <%- include("partials/announcement") %>

    <%- include("partials/announcement") %>
</div>
<div class="page-numbers-box container-fluid">
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="newer-button col">
            <a href="">Newer</a>
        </div>
        <div class="page-numbers col-3 text-center">
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">4</a>
            <a href="">5</a>
        </div>
        <div class="older-button col text-end">
            <a href="">Older</a>
        </div>
        <div class="col"></div>
    </div>
</div>
<script src="/scripts/accordion.js" type="text/javascript"></script>
<%- include("partials/footer") %>
