
<%- include("partials/header", {page: 'announcements'}) -%>
<div class="title-box">
    <h1 class="page-title">Announcements</h1>
</div>
<% for (let i = announcements.length; i >= 0; i--) { %>
    <% let announcement = announcements[i]; %>
<div class="accordion outer-box">
    <label class="header-expand">
        <h2 class="announcement-date"><%=announcement.date%></h2>
        <i class="expand-icon fa-solid fa-plus fa-xl"></i>
    </label>
    <div class="inner-box">
        <h2 class="announcement-author"><%=announcement.author%></h2>
        <p class="announcement-text"><%=announcement.message%></p>
    </div>
</div>
<% } %>

<!--Can't load Js files externally. Needs fixing.-->
<script src="/scripts/accordion.js"> </script>
<%- include("partials/footer") %>
