<%- include("partials/header") -%>

    <h1>Users</h1>

    <table>
        <tr>
            <th>Username</th>
            <th>isAdmin</th>
            <th>Delete</th>
        </tr>
        <% Users.forEach(function(user) { %>
            <tr>
                <td>
                    <%=user.username %>
                </td>
                <td>
                    <form action="/admin/update" method="post">
                        <input type="hidden" name="userid" value="<%=user._id%>"></input>
                        <input type="hidden" name="isAdmin" value="<%= user.isAdmin %>"></input>
                        <input type="checkbox" onChange="this.form.submit()" <% if (user.isAdmin) { %>checked<%}%>>
                    </form>
                </td>
                <td>
                    <form action="/admin/delete" method="post" onSubmit="return confirm('Are you sure you wish to delete?');">
                        <input type="hidden" name="id" value="<%=user._id%>"></input>
                        <button type="submit" value="delete">X</button>
                    </form>
                </td>
            </tr>
            <% }); %>
    </table>

    <%- include("partials/footer") %>